Package: com.matchstic.xenhtml
Name: Xen HTML Việt Nam
Version: 2.0.1
Architecture: iphoneos-arm
Description: Thêm tiện ích lên màn hình chính và màn hình khoá
Author: Matt Clarke
Section: Tweaks
Depends: mobilesubstrate
Depiction: http://cydia-jailbreak.github.io/depictions?p=com.TruongTamPhong.XenHTML
SileoDepiction: http://cydia-jailbreak.github.io/depictions?p=com.TruongTamPhong.XenHTML
Icon: file:///Applications/Cydia.app/Sections/Tweaks1.png
