body{
  font-family: FontSelector;
  text-shadow: rgba(0,0,0, 0.2) 0px 1px 0px;
}

#Border1{
  position: absolute;
  top: 80px;
  left: -2px;
  width: 150px;
  height: 85px;
  border-radius: 0px 43px 43px 0px;
  -webkit-backdrop-filter: blur(var(--bl));
  z-index: -1;
}

#BorderWrap1{
  position: absolute;
  left: -2px;
  width: 150px;
  height: 83px;
  border-radius: 0px 43px 43px 0px;
  border: 2px solid var(--bor);
  z-index: 1;
}

#Charging{
  position: absolute;
  top: 3px;
  left: 26px;
  width: 100%;
  text-align: left;
  color: var(--charCl);
  font-size: 25px;
}

#Clock{
  position: absolute;
  top: 4px;
  left: 50%;
  width: 100%;
  text-align: center;
  font-size: 25px;
  transform: translateX(-50%);
}

#Calendar{
  position: absolute;
  top: 31px;
  left: 50%;
  width: 100%;
  text-align: center;
  font-size: 12px;
  transform: translateX(-50%);
}

#Month{
  text-transform: lowercase;
}

#Percent{
  position: absolute;
  top: -6px;
  left: 109px;
  width: 26%;
  text-align: left;
  color: var(--batCl);
  font-size: 12px;
  transform: translateX(-50%);
}

#Bat1{
  position:absolute;
  top: 54px;
  width: 100%;
  height: 15px;
  left: 61%;
  transition: bottom 0.5s ease-in-out;
  -webkit-filter: invert(0%);
  transform: translateX(-50%);
}

#Bat2{
  position:absolute;
  width: 60%;
}

#Bl1, #Bl2{
  position:absolute;
  border-radius: 5px;
  background: var(--blCl);
  top: 0px;
  width: 100%;
  height: 4px;
  box-shadow: 0px -1px 2px 0px rgba(0,0,0, 0.5) inset;
}

#Bl2{  
  background-image: linear-gradient(to right, rgba(55,55,55, 0.2) 0%, var(--batC)0%);
}

#Amlich{
  position: absolute; 
  top: 66px;
  left: 50%;
  width: 100%;
  text-align: center;
  font-size: 12px;
  transform: translateX(-50%);
}

#Border2{
  position: absolute;
  top: 80px;
  right: -2px;
  width: 150px;
  height: 85px;
  border-radius: 43px 0px 0px 43px;
  -webkit-backdrop-filter: blur(var(--bl));
  z-index: -1;
}

#BorderWrap2{
  position: absolute;
  right: -2px;
  width: 150px;
  height: 83px;
  border-radius: 43px 0px 0px 43px;
  border: 2px solid var(--bor);
  z-index: 1;
}

#City{
  position: absolute;
  top: 5px;
  left: 57%;
  width: 100%;
  text-align: center;
  font-size: 12px;
  transform: translateX(-50%);
}

#Weather{
  position: absolute;
  top: 18px;
  left: 5px;
  width: 50px;
  filter: drop-shadow(0px 1px 1px rgba(0,0,0, 0.7));
}

#Temp{
  position: absolute;
  top: 24px;
  left: 60px;
  font-size: 32px;
}

#High{
  position: absolute;
  top: 29px;
  left: 117px;
  font-size: 13px;
}

#Low{
  position: absolute;
  top: 45px;
  left: 119px;
  font-size: 9px;
}

#Condition{
  position: absolute;
  top: 66px;
  left: 57%;
  width: 100%;
  font-size: 12px;
  text-align: center;
  transform: translateX(-50%);
}

.shadow-out1{
  box-shadow:
  -3px 3px 8px 3px rgba(0,0,0, 0.08),
  -5px 5px 11px 4px rgba(0,0,0, 0.1),
  -7px 7px 14px 5px rgba(0,0,0, 0.12),
  -9px 9px 17px 6px rgba(0,0,0, 0.14),
  -11px 11px 20px 7px rgba(0,0,0, 0.16),
  -13px 13px 23px 8px rgba(0,0,0, 0.18);
}

.shadow-out2{
  box-shadow:
  3px 3px 8px 3px rgba(0,0,0, 0.08),
  5px 5px 11px 4px rgba(0,0,0, 0.1),
  7px 7px 14px 5px rgba(0,0,0, 0.12),
  9px 9px 17px 6px rgba(0,0,0, 0.14),
  11px 11px 20px 7px rgba(0,0,0, 0.16),
  13px 13px 23px 8px rgba(0,0,0, 0.18);
}

.shadow-out3{
  text-shadow:
  -1.3px -1.3px 2.8px rgba(255,255,255, 0.03),
  -4.3px -4.3px 6.6px rgba(255,255,255, 0.04),
  -6.1px -6.1px 8.6px rgba(255,255,255, 0.05),
  -11px -11px 16px rgba(255,255,255, 0.02),

  2.3px 2.3px 3.8px rgba(0,0,0, 0.25),
  6.3px 6.3px 10.6px rgba(0,0,0, 0.45),
  15.1px 15.1px 25.6px rgba(0,0,0, 0.65),
  50px 50px 85px rgba(0,0,0, 0.07);
}

.shadow-in1{
  box-shadow:
  3px -3px 3px 0px rgba(0,0,0, 0.4),
  2px 2px 2px 0px rgba(255,255,255, 0.2);
}

.shadow-in2{
  box-shadow:
  -3px -3px 3px 0px rgba(0,0,0, 0.4),
  -2px 2px 2px 0px rgba(255,255,255, 0.2);
}

.shadow-in3{
  text-shadow:
  -2px -2px 2px rgba(0,0,0, 0.4),
  2px 2px 1px rgba(255,255,255, 0.2);
}