Package: com.TruongTamPhong.AprilTTP
Name: April TTP
Author: Trương Tam Phong
Version: 1.0.0
Architecture: iphoneos-arm
Description: Widget for Xen HTML
Section: Widget tĩnh
Depiction: http://cydia-jailbreak.github.io/depictions?p=com.TruongTamPhong.AprilTTP
SileoDepiction: http://cydia-jailbreak.github.io/depictions?p=com.TruongTamPhong.AprilTTP
Icon: file:///Applications/Cydia.app/Sections/Widgets1.png
