Package: com.TruongTamPhong.Infinity
Name: Infinity
Author: Trương Tam Phong
Version: 2.0.2
Architecture: iphoneos-arm
Description: Widget for Xen HTML
Section: Widget tĩnh
Depiction: http://cydia-jailbreak.github.io/depictions?p=com.TruongTamPhong.Infinity
SileoDepiction: http://cydia-jailbreak.github.io/depictions?p=com.TruongTamPhong.Infinity
Icon: file:///Applications/Cydia.app/Sections/Widgets1.png
