body{
  font-family: FontSelector;
  text-shadow: rgba(0,0,0, 0.3) 1px 1px 0px;
  text-align: center;
  width: 100%;
}

#Container{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#Border{
  position: absolute;
  top: 57px;
  left: 50%;
  width: 270px;
  height: 270px;
  border-radius: var(--br);
  border: 3px dotted var(--bor);
  -webkit-backdrop-filter: blur(var(--bl));
  transform: translateX(-50%);
  z-index: -1;
}

#City{
  position: absolute;
  top: 42px;
  left: 50%;
  width: 102%;
  font-size: 17px;
  text-transform: uppercase;
  transform: translateX(-50%);
}

#Calendar{
  position: absolute;
  top: 84px;
  left: 8%;
  width: 42%;
  text-align: left;
  font-size: 12px;
  text-transform: uppercase;
}

#Weather{
  position: absolute;
  top: 68px;
  left: 50%;
  width: 46px;
  transform: translateX(-50%);
  filter: drop-shadow(1px 1px 0px rgba(0,0,0, 0.7));
}

#Amlich{
  position: absolute; 
  top: 84px;
  right: 8%;
  width: 42%;
  text-align: right;
  font-size: 12px;
  text-transform: uppercase;
}

#Clock{
  position: absolute;
  top: 114px;
  left: 50%;
  width: 102%;
  font-size: 35px;
  transform: translateX(-50%);
}

#Battery{
  position: absolute;
  top: 158px;
  left: 50%;
  width: 102%;
  color: var(--batCl);
  font-size: 12px;
  text-transform: uppercase;
  transform: translateX(-50%);
}

#Condition{
  position: absolute;
  top: 180px;
  left: 50%;
  width: 102%;
  font-size: 12px;
  transform: translateX(-50%);
}

.shadow-out{
  box-shadow:
  -2.3px -2.3px 3.8px 0px rgba(255,255,255, 0.01),
  -6.3px -6.3px 8.6px 0px rgba(255,255,255, 0.03),
  -15.1px -15.1px 20.6px 0px rgba(255,255,255, 0.04),
  -25px -25px 40px 0px rgba(255,255,255, 0.01),
  2.3px 2.3px 3.8px 3px rgba(0, 0, 0, 0.05),
  6.3px 6.3px 10.6px 10px rgba(0, 0, 0, 0.15),
  15.1px 15.1px 25.6px 15px rgba(0, 0, 0, 0.25),
  50px 50px 85px 50px rgba(0, 0, 0, 0.03);
}

.shadow-in{
  box-shadow:
  -3px -3px 3px 3px rgba(0,0,0, 0.4),
  3px 3px 3px 0px rgba(255,255,255, 0.2);
}