
/*----------------- Text ----------------*/
#M1{
   position:absolute;
   top:368px;
   left: -414px;
   width:770px;
   text-align:right;
   font-size: 17px;
   font-family: Xsm;
   color: #e9cf89;
   background:  -webkit-linear-gradient( #ccc,#333);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   text-shadow:0px 2px 2px rgba(0,0,0,0.6);
   letter-spacing: 6px;
   text-transform:uppercase;
   opacity: 1;
   -webkit-transform: rotate(-90deg);
   z-index: 1;
}

#M2{
   position:absolute;
   top:348px;
   left: 43px;
   width:570px;
   text-align:right;
   font-size: 17px;
   font-family: Xsm;
   color: #e9cf89;
   background:  -webkit-linear-gradient( #ccc,#333);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   text-shadow:0px 2px 2px rgba(0,0,0,0.6);
   letter-spacing: 6px;
   text-transform:uppercase;
   opacity: 1;
   -webkit-transform: rotate(90deg);
   z-index: 1;
}

/*----------------- Temp ----------------*/
#HiLow{
   position:absolute; 
   top: -55px; 
   left:107px; 
   text-align:right; z-index:50;
   font-size:0px;
   color: fff;
   text-align: center;
   text-transform:capitalize;
   font-family: TTP;
}


/*----------------- Background ----------------*/
#Nền_Chính{
   position:absolute;
   top: 35px;
   left: 0px;
   width: 100%;
   height: 100%;
   border-radius: 0px 0px 0px 0px;
   background-color: rgba(235,235,235,1);
   background: linear-gradient( to bottom, rgba(70,70,70, 1), rgba(64,64,64, 1), rgba(58,58,58, 1), rgba(52,52,52, 1), rgba(46,46,46, 1), rgba(40,40,40, 1));
   z-index: 0;
}

#Bg2{
   position:absolute;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 4%;
   background-color: rgba(0,0,0, 1);
   background: linear-gradient( 180deg, #333, #444, #444, #333);
   z-index: -100;
}

#Nền_Pin{
   position:absolute;
   top: 358.4px;
   left:var(--a2X);
   transform:translateX(-50%);
   width: 232px;
   height:10px;
   border: 0.6px solid rgba(30,30,30, 1);
   border-radius: 20px;
   box-shadow: 0px -3px 5px rgba(0,0,0,0.5) inset, 0px 1px 5px rgba(0,0,0,0.5);
   z-index: -0;
}

#Thanh_Nối_Giữa_Thời_Tiết_Và_Nhạc{
   position:absolute;
   top: 225px;
   left:var(--a2X);
   transform:translateX(-50%);
   width: 303px;
   height:17px;
   background-color: transparent;
   background: linear-gradient( to bottom, rgba(27,27,27, 1), rgba(27,27,27, 0.1));
   box-shadow: 0px 0px 100px rgba(27,27,27, 0.7);
   z-index: 21;
}

#Nền_Bao_Phủ_Ảnh_Thời_Tiết{
position:absolute;
   top: 101px;
   left:var(--a2X);
   transform:translateX(-50%);
   width:303px;
   height: 125px;
   -webkit-border-radius: 15px 15px 0px 0px;
   background-color: transparent;
   background: linear-gradient( to top, rgba(51,51,51, 0), rgba(51,51,51, 0.5));
   box-shadow: 0px 0px 100px rgba(0,0,0, 0.8) inset, 0px -3px 30px rgba(0,0,0, 0.8) inset;
   z-index: 10;
}

#Khung_Đặt_Ứng_Dụng{
   position:absolute;
   top: 395px;
   left:var(--a2X);
   transform:translateX(-50%);
   width: 300px;
   height:370px;
   background-color: rgba(51,51,51, 0.3);
   border-radius: 10px;
   border: 0px solid rgba(51,51,51, 0.05);
   box-shadow: -2px 2px 11px 2px rgba(0,0,0, 0.2) inset, -2px 2px 11px 2px rgba(0,0,0, 0.2);
   //box-shadow: -3px -4px 10px 2px rgba(39,39,39, 1), 1px 3px 11px rgba(0,0,0,0.5);

   z-index: 0;   
}

#Nền_Dock{display:none;
   position:absolute;
   background:var(--dp);
   border-radius:var(--abr);
   width:var(--aW);
   height:var(--aH);
   bottom:var(--aY);
   left:var(--aX);
   transform:translateX(-50%);
   border: 0.1px solid rgba(90,90,90, 0.8);
   -webkit-backdrop-filter: blur(var(--bl));
}

#Nền_Cho_Ngày_Và_Nhiệt_Độ{
   position:absolute;
   top: 40px;
   left:var(--a2X);
   width: 270px;
   height: 45px;
   background:rgba(255,255,255,0);
   border: 0.6px solid rgba(0,0,0, 0.8);
   border-radius:70px;
   transform:translateX(-50%);
   -webkit-backdrop-filter: blur(2px);
   box-shadow: 0px 4px 4px rgba(0,0,0, 0.4);
}

#Nền_Cho_Thứ_Và_Tháng{
   position:absolute;
   top: 45px;
   left:var(--a2X);
   width: 180px;
   height: 36px;
   background:transparent;
   background: linear-gradient( to right, rgba(51,51,51, 1), rgba(95,95,95, 1), rgba(51,51,51, 1));
   border-radius:70px;
   transform:translateX(-50%);
   -webkit-backdrop-filter: blur(2px);
   box-shadow: 0px 0px 8px rgba(0,0,0,0.27);
}

#Nền_Cho_Đồng_Hồ{
   position:absolute;
   top: 49px;
   left:var(--a2X);
   width: 80px;
   height: 28px;
   background:rgba(100,100,100, 1);
   border-radius:70px;
   transform:translateX(-50%);
   -webkit-backdrop-filter: blur(2px);
   box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
}

#Ảnh_Hiển_Thị_Thời_Tiết{
   position:relative;
   width: var(--wW);
   height:0px;
   top: 115px;
   left:var(--wX);
   transform:translateX(-50%);
}


/*----------------- Time ----------------*/
#Đồng_Hồ{
   position:absolute;
   top: -65.5px;
   right:40%;
   text-align: center;
   color: #fff;
   font-size:21px;
   font-weight: bold;
   text-shadow: 0px 1.5px 0px rgba(0,0,0, 1);
   transition: right 0.5s ease-in-out;
}

#Thứ{
   position:absolute;
   text-align:center;
   width: 30px;
   top: -60px;
   right:66%;
   color:#ddd;
   font-size:11px;
   font-family:;
   text-shadow: 0px 1.5px 0px rgba(0,0,0, 1);
   transition: right 0.5s ease-in-out;
   z-index:50;
}

#Ngày{
   position:absolute;
   top: -64.5px;
   right:83%;
   color:#bbb;
   font-size:20px;
   font-weight: bold;
   font-family:TP;
   transition: right 0.5s ease-in-out;
   text-shadow: 0px 1.5px 0px rgba(0,0,0, 1);
   z-index:50;
}

#Tháng{
   position:absolute;
   text-align:center;
   width: 33px;
   top: -60px;
   right:23%;
   color:#ddd;
   font-size:11px;
   font-family:;
   text-shadow: 0px 1.5px 0px rgba(0,0,0, 1);
   transition: right 0.5s ease-in-out;
   z-index:50;
}


/*----------------- Weather ----------------*/
#Nền_Và_Thông_Tin_Thời_Tiết{
   position:absolute;
   top: 15%;
   left: 4.8%;
   width: 100%;
   transition: top 0.5s ease-in-out;
   z-index:100px;
}

#weaCont.closed{
   top:0px;
}

#Ảnh_Thời_Tiết{
   position: absolute;
   vertical-align: middle;
   top: 6px;
   left: -15px;
   width:302px;
   height: 103px;
   border-radius: 15px 15px 0px 0px;
   -webkit-backdrop-filter: blur(var(--bl));
   overflow: hidden;
   -webkit-border-radius: 15px 15px 0px 0px;
   border: 0px solid rgba(255,255,255,0.2);
   box-shadow: inset 0px -8px 25px 0px rgba(0,0,0, 0.5),
   inset 0px 6px 20px 0px rgba(0,0,0, 0.17), 6.3px 6.3px 10.6px rgba(0,0,0, 0.03) inset, 0px 2px 6px 0px rgba(0,0,0, 1) inset, 0px 0px 6px 0px rgba(0,0,0, 0.2) inset;
   -webkit-filter: sepia(60%);
   z-index:-100px;
   opacity: 0.75;
}

#Văn_Bản_Thời_Tiết{
   position: absolute;
   display:inline-block;
   vertical-align: middle;
   color: #fff;
   top: -11px;
   left: 0px;
   text-align: center;
   z-index:100px;
   font-family: AP;
   font-size: 13px;
   font-weight: bold;
   text-shadow: 0px 2px 0px rgba(0,0,0, 1);
   width:91%;

}

#Nhiệt_Độ_Hiện_Tại{
   position: absolute;
   color:#bbb;
   top: -53px;
   text-align: center;
   width: 50px;
   left: 222px;
   font-family: TP;
   font-size:20px;
   font-weight: bold;
   text-shadow: 0px 1.5px 0px rgba(0,0,0, 1);
}


/*----------------- Battery ----------------*/
#Thanh_Pin{
   position:absolute;
   top: 235px;
   width:75%;
   height:15px;
   bottom: 8px;
   left:50%;
   transform:translateX(-50%);
   transition: bottom 0.5s ease-in-out;
   -webkit-filter: invert(0%);
}

#Phần_Trăm_Pin{
   position:absolute;
   top: 24px;
   left: 0px;
   width: 230px;
   text-align: center;
   color:#999;
   font-size:11px;
   //font-weight: bold;
   text-shadow: 0px 2px 0px rgba(0,0,0, 1);
   font-family: TP;
}

#Ruột_Pin{
   position:absolute;
   background:#404040;
   width: 100%;
   margin-top: 10.4px;
   -webkit-filter: grayscale(100%);
}


/*----------------- Music ----------------*/
#Nền_Nhạc{
   position:absolute;
   background: rgba(51,51,51, 1);
   top: 226px;
   width: 303px;
   height: 120px;
   bottom: var(--mY);
   left: var(--mX);
   transform: translateX(-50%);
   border-radius: 0px 0px 15px 15px;
   //border: 0px solid rgba(0,0,0, 0);
   -webkit-backdrop-filter: blur(var(--bl));
   overflow: hidden;
   box-shadow: inset 0px -8px 25px 0px rgba(0,0,0, 0.5),
   inset 0px 6px 20px 0px rgba(0,0,0, 0.17), 6.3px 6.3px 10.6px rgba(0,0,0, 0.03) inset, 0px 2px 6px 0px rgba(0,0,0, 0.5)inset, 0px 0px 6px 0px rgba(0,0,0, 0.2)inset;
   z-index: 20;
}

#Lớp_Phủ_Làm_Mờ_Ảnh_Bìa_Bài_Nhạc{
   position:absolute;
   border-radius: 100%;
   width:72px;
   height:72px;
   left:193px;
   top:13.5px;
   background-color: transparent;
   background: linear-gradient( to top, rgba(51,51,51, 0.2), rgba(51,51,51, 0.2));
   box-shadow: 0px 0px 100px rgba(51,51,51, 0.2) inset, 0px -3px 30px rgba(51,51,51, 0.2) inset;
   z-index: 20;
}

#Ảnh_Bìa_Bài_Nhạc{
   position:absolute;
   border-radius: 100%;
   width:60%;
   height:60%;
   left:25px;
   top:26px;
   -webkit-box-shadow: 0 0 8px 2px rgba(27,27,27, 0.8);
   border: 5px solid rgba(27,27,27, 0.8);
   transform:translate(-50%, -50%);
   transition: right 0.5s ease-in-out;
   opacity:1;
   -webkit-animation: rotate 30s linear infinite;}
   @-webkit-keyframes rotate {
   0% {  -webkit-transform : rotate(0deg) }
   100% {  -webkit-transform : rotate(360deg) };
}

#Tỷ_Lệ_Ảnh_Bìa_Bài_Nhạc{
   position:absolute;
   width:var(--mH);
   height:var(--mH);
   right:0px;
   transition: right 0.5s ease-in-out;
}

#Thông_Tin_Bài_Nhạc{
   position:absolute;
   width:calc(100% - 25px - var(--mH));
   left:20px;
   top:17px;
   font-family: TP;
   transition: top 0.5s ease-in-out;
}

#Tên_Bài_Nhạc, #Tên_Nghệ_Sĩ{
   width:104%;
   font-size: 14px;
   color: #ccc;
   text-shadow: 0px 2px 0px rgba(0,0,0, 1);
   text-align: left;
}

#Tên_Bài_Nhạc{
   white-space: nowrap;
   height:18px;
   overflow:hidden;
}

#Tên_Nghệ_Sĩ{
   font-size: 10px;
   color: #888;
   text-shadow: 0px 2px 0px rgba(0,0,0, 1);
   text-align: left;
}

#weatherIconMus{
   position:absolute;
   border:1px solid rgba(0,0,0,.30);
   border-radius:25px;
   width:30px;
   left:10px;
   bottom: 10px;
   filter: opacity(.5) drop-shadow(0 0 0 var(--primary));
   display:none;
}

#Bộ_Điều_Khiển_Nhạc{
   position:absolute;
   width:150px;
   height:30px;
   left:calc(69.5% - var(--mH));
   bottom:18px;
   transform:translateX(-50%);
   transition: bottom 0.5s ease-in-out;
}

[class^="zeek-"]:before,[class*=" zeek-"]:before {
   font-family: 'P' !important;
   font-style: normal !important;
   font-weight: normal !important;
   font-variant: normal !important;
   text-transform: none !important;
   speak: none;
   line-height: 0;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}
.zeek-buttonnext:before {
   content: "\61";
}
.zeek-buttonpause:before {
   content: "\62";
}
.zeek-buttonplay:before {
   content: "\63";
}
.zeek-buttonprev:before {
   content: "\64";
}

#prev{
   position: relative;
   top: -1px;
   left: 0px;
   background: rgba(0,0,0,0);
   width:25px;
   height:30px;
   padding-top: 7px;
   padding-left: -1px;
   font-size: 12px;
   text-align: center;
   color:#aaa;
   -webkit-tap-highlight-color:rgba(0,0,0,1);
   border-radius: 100%;
    line-height: 12.5vh;
    text-align: center;
    background-color: rgba(0,0,0,0.1);
    border: 2px solid rgba(0,0,0,0.4);
    -webkit-box-shadow: inset 0 3px 2px rgba(255,255,255, 0.1), 0px 8px 6px -6px #000;
}

#playPause{
   position: absolute;
   color: #aaa;
   top: -3px;
   left:73px;
   width:31px;
   height:15px;
   padding-top: 18px;
   padding-left: 2px;
   font-size: 17px;
   transform:translateX(-50%);
   -webkit-tap-highlight-color:rgba(0,0,0, 1);
   border-radius: 100%;
    line-height: 12.5vh;
    text-align: center;
    background-color: rgba(0,0,0,0.1);
    border: 2px solid rgba(0,0,0,0.4);
    -webkit-box-shadow: inset 0 3px 2px rgba(255,255,255, 0.1), 0px 8px 6px -6px #000;
}

#next{
   position: relative;
   top: -35px;
   left: 111px;
   background: rgba(0,0,0,0);
   width:24px;
   height:30px;
   padding-top: 8px;
   padding-left: 2px;
   font-size: 12px;
   text-align: center;
   color:#aaa;
   -webkit-tap-highlight-color:rgba(0,0,0,1);
   border-radius: 100%;
    text-align: center;
    background-color: rgba(0,0,0,0.1);
    border: 2px solid rgba(0,0,0,0.4);
    -webkit-box-shadow: inset 0 3px 2px rgba(255,255,255, 0.1), 0px 8px 6px -6px #000;
}

.morph{
   box-shadow:inset -0px -1px 3px 0px rgba(0,0,0, 1), -6.3px -6.3px 10.6px rgba(0, 0, 0, 0.03) inset, inset 2px 2px 5px 0px rgba(51,51,51, 0.15), 6.3px 6.3px 10.6px rgba(100,100,100, 0) inset, 0px -1px 2px 0px rgba(0,0,0, 0), 0px 2px 2px 0px rgba(0,0,0, 0.5);
}

#infoCont.closed{
   top:-100px;
}

#mArt.closed{
   right:-200px;
}

#controls.closed{
   bottom:-40px;
}

.marquee {
   margin: 0 auto;
   -webkit-animation: marquee 20s linear infinite;
}


/*----------------- Other ----------------*/
@-webkit-keyframes marquee {
	0%{
		text-indent: 100%;
	}
	40%{
		text-indent: 0;
	}
	60%{
		text-indent: 0;
	}
	100% {
		text-indent: -120%;
	}
}

@font-face{
    font-family: 'TTP';
    src:url(Scripts/Fonts/TruongTamPhong.ttf);
}

@font-face{
    font-family: 'P';
    src:url(Scripts/Fonts/Phong.ttf);
}

@font-face{
    font-family: TP;
    src:url(Scripts/Fonts/TamPhong.ttf);
}

@font-face{
    font-family: AP;
    src:url(Scripts/Fonts/TTP.ttf);
}

@font-face{
    font-family: Xsm;
    src:url(Scripts/Fonts/Xsm.ttf);
}

#_date.closed{
   right:-25%;
}

#_batCont.closed{
   bottom:-10px;
}

#bl1, #bl2{
   position:absolute;
   border-radius:5px;
   top:0.6px;
   width:100%;
   height:4.5px;
}

#bl1{
   background:#505050;
   opacity: 0.9;
}

#bl2{
   background: var(--secondary);
   box-shadow: -0px -1px 3px 0px rgba(0,0,0, 1) inset;
}

#musicArtGen{
   position:absolute;
   border-radius:100%;
   width:100px;
   right:10px;
   top: 160px;
   transform:translateY(-50%);
   display:none;
}

body {
    background-size: 414px 896px;
    padding:0;
    margin:0;
    width:auto;
    height:auto;
    font-family:'TTP';
    z-index: 100px;
}

:root {display:;
 --d: rgba(38,39,42, 1.0);
  --dp: rgba(39,39,39, 0.5);
  --primary: rgba(255,255,255, 1);
  --secondary: rgba(150,150,150, 1);
  --br: 25px;
  --bl: 10px; 
  --aW: 420px;
  --aH: 114px;
  --aX: 50%;
  --aY: -1px;
  --abr: 0px;
  --a2W: 350px;
  --a2H: 200px;
  --a2X: 50%;
  --a2Y: 100px;
  --a2br: 25px;  
  --a3W: 350px;
  --a3H: 250px;
  --a3X: 50%;
  --a3Y: 350px;
  --a3br: 25px;
  --wW: 300px;
  --wH: 110px;
  --wX: 50%;
  --wY: 50px;
  --mW: 350px;
  --mH: 120px;
  --mX: 50%;
  --mY: 120px;  
}