Package: com.TruongTamPhong.bccxiweatherfix
Name: BetterCCXIWeatherFix
Depends: mobilesubstrate, com.atwiiks.betterccxiweather
Architecture: iphoneos-arm
Description: Fixes the broken look of BetterCCXI Weather Addon on iOS 13.
Maintainer: SlyFabi
Author: SlyFabi
Section: Tweaks
Depiction: http://cydia-jailbreak.github.io/depictions/?p=com.TruongTamPhong.bccxiweatherfix
Version: 1.0.0
Icon: file:///Applications/Cydia.app/Sections/Tweaks1.png
