Package: com.TruongTamPhong.MusicAndCalendar
Name: Music & Calendar
Author: Trương Tam Phong
Version: 1.0.0
Architecture: iphoneos-arm
Description: Widget for Xen Html
Section: Widget tĩnh
Depiction: http://cydia-jailbreak.github.io/depictions?p=com.TruongTamPhong.MusicAndCalendar
SileoDepiction: http://cydia-jailbreak.github.io/depictions?p=com.TruongTamPhong.MusicAndCalendar
Icon: file:///Applications/Cydia.app/Sections/Widgets1.png
