body{
  margin: 0;
  padding: 0;
  width: 100%;
  line-height: 1.6;
  font-size: 15px;
  font-family: Fu;
  font-weight: 500;
  text-align: left;
  min-height: 100%;
  vertical-align: baseline;
  background-color: none!important;
  -webkit-tap-highlight-color: #0005;
  text-rendering: optimizeLegibility!important;
}

ttp{
  font-size: 25px;
  text-decoration: underline;
  color: #fff;
}

red{
  border-radius: 4px;
  background: #bb0000;
}

blue{
  border-radius: 4px;
  background: #0055dd;
}

ava{
  text-align: center;
  filter: drop-shadow(0px 2px 4px #0008);
}

c{
  text-align: center; font-size: 16px;
}

gc{
  text-decoration: underline;
}

in{
  font-style: italic;
}

body panel panel-body{
  color: white;
  display: block;
  text-align: left;
  font-size: 15px;
  overflow: hidden;
  margin-left: 14px;
  margin-right: 14px;
  padding: 15px 20px;
}

ol, ul{
  padding: 8px 18px;
}

body main{
  margin: auto;
  flex-wrap: wrap;
  overflow: inherit;
  padding-top: 0px;
  background-color: none;
}

body panel panel-header{
  margin: 0;
  font-size: 22px;
  padding-left: 0;
  padding-top: 0px;
}

body panel panel-body{
  margin: 0;
  width: auto;
  color: white;
  padding-top: 20px;
}

body panel.modern{
  display: flex;
  border-radius: 0px;
  margin-bottom: 0px;
  flex-direction: column;
  background: #0099CC;
}

.information>tbody{
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: baseline;
  flex-direction: unset;
  -webkit-box-pack: end;
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
  -webkit-box-align: baseline;
}

.information>tbody>tr{
  display: flex;
  width: 45%;
  height: 100%;
  border: none;
  padding: 5px;
  flex-shrink: 2;
  flex-basis: fill;
  max-width: 50%;
  text-align: left;
  justify-content: end;
  flex-direction: column;
  align-items: flex-start;
  -webkit-box-pack: end;
  -webkit-box-align: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}

.information>tbody>tr>td:first-child{
  margin: 0;
  color: #FFaa55;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(0,0,0, 0.2);
}

.information>tbody>tr>td:nth-child(2){
  color: white;
  text-align: left;
  font-size: 16px;
  padding-top: 0;
  font-weight: 600;
  padding-bottom: 0;
  margin: .425rem 0 .625rem;
}

.screenshot-viewer a{
  width: auto;
  height: 275px;
  display: block;
}

.screenshot-viewer img{
  width: auto;
  height: 98%;
  overflow: hidden;
  border-radius: 15px;
  display: inline-block;
  -webkit-box-reflect: below 0.3em -webkit-gradient(linear,left top, left bottom, from(transparent), color-stop(40%, transparent), to(rgba(255,255,255, 0.5)));
}

.screenshot-viewer{
  margin: 0;
  padding: 0;
  display: block;
  overflow-y: hidden;
}

.screenshot-viewer{
  width: auto;
  height: 50%;
  list-style: none;
  overflow-x: auto;
  margin-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  min-width: 100%;
  margin-left: -6px;
  margin-right: -6px;
  white-space: nowrap;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.screenshot-viewer>li{
  padding: 0;
  margin: 0 6px;
  font-size: 13px;
  display: inline-block;
  vertical-align: bottom;
}

.screenshot-viewer>li:first-child{
  margin-left: 0;
}

.screenshot-viewer>li:last-child{
  margin-right: 0;
}

.screenshot-viewer>li img{
  margin: 0;
  width: auto;
  overflow: hidden;
  border: 2px solid #e7ca96;
  border-radius: 16px!important;
  box-shadow: 0px 2px 4px rgba(0,0,0, 0.6);
  z-index: 1;
}

@font-face{
  font-family: 'Fu';
  src: url(Futura.ttf);
}